/* Font Family */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap");

:root {
  /* Font Sizes */

  --fs-sm: 1.2rem;
  --fs-md: 1.6rem;
  --fs-lg: 2.4rem;

  /* Colors */
  --clr-text: rgba(0, 0, 0, 1);
  --clr-white: rgba(255, 255, 255, 1);
}

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  font-family: "Roboto", sans-serif;
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

input,
button {
  outline: none;
  border: none;
  background-color: transparent;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

ul,
li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--clr-text);
}
